@font-face {
	font-family: 'din';
	src: url('fonts/din.eot');
	src: url('fonts/din.eot?#iefix') format('embedded-opentype'), url('fonts/din.woff') format('woff'), url('fonts/din.ttf') format('truetype'), url('fonts/din.svg#din') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	color: #555;
	font: normal 13px/22px Arial;
	background: url(../images/bgmain.png) #eee;
}
h1, h2, h3, h4, h5 {
	font-weight: normal;
	font-family: din;
	margin: 0;
	padding: 0;
	color: #000
}
h1 {
	font-size: 60px;
	margin-bottom: 25px;
	color: #fff;
}
h2 {
	font-size: 35px;
	letter-spacing: -1px;
	margin-bottom: 20px;
}
h3 {
	margin: 0 0 15px 0;
	font-size: 25px;
}
h4 {
	margin: 10px 0;
	font-size: 19px;
}
h5 {
	margin: 0 0 5px 0;
	font-size: 17px;
}
h6 {
	margin: 0 0 10px 0;
	font-size: 14px;
}
h4 span {
	margin-right: 5px;
	font-size: 15px;
}
h6 span {
	margin-right: 5px;
	font-size: 12px;
}
a {
	color: #72b70f;
	text-decoration: none;
	outline: none;
}
a:hover {
	color: #333;
}

span.pull-right a:hover {
	color:#f9f9f9;
	
}


.spacer {
	margin-top: 40px;
	margin-bottom: 40px;
}
.center {
	text-align: center;
}
.fullwidth {
	width: 100%;
}
select, input {
	outline: 0;
	margin-bottom: 20px;
}
a.more {
	background-color: #222;
	padding: 2px 6px;
	color: #fff;
	text-transform: uppercase;
	font-size: 11px;
}
a.more:hover {
	background: #64a30a;
	text-decoration: none;
}
table {
	background-color: #fff;
}

/* register page button */

button.btn.btn-success {
   padding:15px 20px;
}



.btn {
	border-radius: 5px;
	font-family: din;
	outline: none;
}
.btn-success {
	background: #72b70f;
	border: 1px solid #72b70f;
	padding: 6px 20px;
	font-size: 16px;
	width: 100%;
}
.btn-primary {
	background: #64a30a;
	border: none;
	width: 100%;
	border-radius: 20px;
}
.btn-info {
	background: #333;
	border: 4px solid #ddd;
	padding: 3px 20px;
	font-size: 20px;
	border-radius: 20px;
}
.thumbnail {
	background-color: #fff;
}
.header {
	padding: 20px 0;
}
.header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 40px;
}
.header ul li {
	display: inline-block;
	padding: 0 0 0 40px;
}
.header ul li a {
	font-size: 22px;
	font-family: din;
	font-weight: normal;
	
}
.header ul li a:hover {
	text-decoration: none;
}
.navbar-inverse {
	background-color: #111;
}
.navbar-inverse .navbar-nav > li > a {
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: din;
	text-transform: uppercase;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #72b70f;
}
.banner-search {
	background: url(../images/bginside.jpg) #111;
	color: #fff;
	padding: 20px 0 10px 0;
	font-size: 16px;
}
.banner-search h3 {
	color: #fff;
}
.properties-listing .viewall {
	margin-top: 15px;
}
.properties-listing div.properties {
	padding: 10px;
	background-color: #fff;
	text-align: center;
	margin-bottom: 20px;
}
.owl-wrapper-outer div.properties {
	margin: 0 5px;
}
.properties-listing div.properties .image-holder {
	position: relative;
}

.image-holder {
	border: 1px solid rgb(105, 127, 74);
    	font-size: 15px;
    	line-height: 27px;
            font-style: italic;

}

.image-holder img {
	height: 150px;
}

.text-holder h4 {
	font-size: 20px;
    	line-height: 25px;
    	overflow: hidden;
    	height: 50px;
}





/* view properties   this is not doing anything atm */

@media (min-width: 1200px) {

	.image-holder img {
		height: 150px;
            }


	

}









.properties-listing div.properties .status {
	position: absolute;
	bottom: 0;
	z-index: 100;
	display: block;
	width: 100%;
	color: #fff;
	padding: 0 3px;
	text-align: right;
	font-size: 12px;
}
.properties-listing div.properties p {
	margin-bottom: 10px;
	font-size: 14px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 5px 0;
	font-family: din;
}
.listing-detail {
	margin-bottom: 30px;
}
.listing-detail span {
	color: #fff;
	width: 25px;
	height: 25px;
	background-color: #555;
	display: inline-block;
	border-radius: 25px;
	text-align: center;
	line-height: 26px;
	font-size: 14px;
	cursor: crosshair;
}
.listing-detail span:hover {
	background: #72b70f;
}
.status.sold {
	background: rgba(205, 255, 133, 0.5);
}
.status.new {
	background: rgba(190,7,46,0.8);
}
.recommended {
	position: relative;
}
.recommended .carousel-indicators {
	position: absolute;
	text-align: left;
	left: 0;
	bottom: -40px;
	margin: 0;
}
.recommended .carousel-indicators li {
	border: 1px solid #888;
}
.recommended .carousel-indicators .active {
	background-color: #ccc;
}
.recommended p {
	margin: 5px 0 10px 0;
}
.modal-content {
	padding: 20px;
}
.login .form-group input {
	padding: 10px;
	height: 50px;
}
.register input {
	padding: 10px;
	height: 50px;
}
.contact input {
	padding: 10px;
	height: 50px;
}
.register input, .register textarea, .contact input, .contact textarea {
	margin-bottom: 15px;
}
.login button, .register button, .contact button {
	width: 100%;
	border-radius: 5px;
}


.inside-banner {
	background: url(../images/bginside.jpg) #222;
	color: #fff;
	padding: 30px 0 15px;
}
.inside-banner h2 {
	margin: 0;
	color: #fff;
}
.inside-banner span {
	margin-top: 10px;
}
.search-form {
	margin-bottom: 50px;
}
.search-form h4 {
	margin: 17px 0;
}
.hot-properties {
	margin-bottom: 50px;
}
.hot-properties img {
	width: 68px;
	height: 68px;
}
.hot-properties h4 {
	margin-bottom: 20px;
}
.hot-properties .row {
	margin-bottom: 20px;
}
.hot-properties .row p {
	margin-bottom: 5px;
}
.sortby .result {
	margin-top: 10px;
}
.property-info {
	margin: 0 0 30px 0;
}
.property-info span {
	margin-right: 5px;
}
.property-info p {
	margin-bottom: 10px;
}
.property-info p.price {
	font-size: 28px;
	color: #72b70f;
	padding: 0;
	border-radius: 5px;
}
.property-info .profile {
	margin-top: 30px;
}
.property-info .profile p {
	padding-left: 20px;
	color: #999;
}
.enquiry input, .enquiry textarea {
	margin-bottom: 10px;
}
.enquiry button {
	border-radius: 5px;
}
.blog .info {
	color: #999;
	margin-bottom: 10px;
	font-size: 12px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #72b70f;
	border-radius: 0;
	color: #fff;
	border: none;
}
.blog .tabbable .tab-content ul li {
	margin: 15px 0;
}
.blog .row {
	margin-bottom: 50px;
}
.agents .row {
	margin-bottom: 40px;
}
.agents .row h4 {
	margin: 0;
}
/*footer*/
.footer {
	background: url(../images/bg.jpg) #222;
	padding: 20px 0;
	color: #999;
}
.footer h4 {
	color: #fff;
	border-bottom: 2px solid #131313;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.footer ul {
	list-style: none;
	padding: 0;
}
.footer a{
	color: #fff;
}
.footer a:hover {
	color: #72b70f;
	text-decoration:underline;
}
.footer p.copyright {
	margin: 30px 0 0 0;
}
 @media (max-width: 600px) {
.header {
	text-align: center;
}
.header ul {
	width: 100%;
	margin-bottom: 20px;
}
.header ul li {
	padding: 0 20px;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 25px;
}
.login {
	margin-bottom: 40px;
}
.searchbar button {
	margin-bottom: 40px;
}
.footer .col-sm-3 {
	margin-bottom: 30px;
}
.agents img {
	margin-bottom: 20px;
}
}
#userprofile {
	border-radius: 50%;
}
#hideuser {
	display: none;
	background-color: #eee;
	border-radius: 20%;
	padding: 20px
}
#hideuser ul {
	padding: 0px
}
#hideuser li {
	list-style: none;
	text-transform: uppercase;
}
#hideuser li a {
	color: #000
}
#hideuser li a:hover {
	color: #00F;
	text-decoration: none;
}
#clear {
	clear: both;
	width: 100%
}
.white_content li {
	list-style: none;
	padding-bottom: 5px
}
.white_content a {
	color: black;
	text-decoration: none;
	outline: none;
	font-size: 15px;
}
.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}
.white_content {
	display: none;
	position: absolute;
	top: 51px;
	width: 202px;
	height: auto;
	padding: 16px;
	background-color: white;
	z-index: 1002;
	overflow: auto;
	right: 0px;
	border-radius: 10px;
	margin-left: 8%;
}
.white_content ul {
	padding: 0px
}
.white_content li {
	border-bottom: 1px solid;
	margin-bottom: 5px;
}
 @media screen and (max-width: 768px) {
.white_content {
	display: none;
	position: absolute;
	top: -154px;
	width: 202px;
	height: auto;
	padding: 16px;
	background-color: white;
	z-index: 1002;
	overflow: auto;
	/* right: 10; */
	left: 17px;
	border-radius: 10px;
	margin-left: 8%;
}
}
#agent_property .properties {
	padding: 10px;
	background-color: #fff;
	text-align: center;
	margin-bottom: 20px;
}
#agent_property .properties p {
	
    	font-size: 14px;
    	border-top: 1px solid #ddd;
    	border-bottom: 1px solid #ddd;
    	padding: 5px 0;
    	font-family: din;
    	line-height: 24px;
}

.price-holder {
	
	margin-bottom: 20px;
    	height: 34px;
}

.member {
	width: 40% !important;
	border-radius: 10px;
	border: 1px solid #558a09;
	box-shadow: 0px 1px 1px #294429;
	color: #f5f5f5;
	text-shadow: 1px 0px 1px rgba(0,0,0,.3);
	font-size: 14px;

}


.space {
	padding-bottom: 5px
}
.pagination_button {
	background: #64a30a;
	border: none;
	width: 100%;
         text-decoration: none;
	border-radius: 20px;
	text-align: center;
	padding: 12px 22px;
	color: #FFF;
	border-radius: 10px;
	border: 1px solid #558a09;
	box-shadow: 0px 1px 1px #294429;
	color: #f5f5f5;
	text-shadow: 1px 0px 1px rgba(0,0,0,.3);
	font-size: 14px;

}
.pagination_button:hover {
	border: none;
	width: 100%;
         text-decoration: none;
	border-radius: 20px;
	text-align: center;
	padding: 12px 22px;
	color: #FFF;
	border-radius: 10px;
	border: 1px solid #558a09;
	box-shadow: 0px 1px 1px #294429;
	color: #f5f5f5;
	text-shadow: 1px 0px 1px rgba(0,0,0,.3);
	font-size: 14px;
}

.pagebox {
	border-top: 1px solid #d6d6d6;
    	background: #dfecce;
    	border-bottom: 1px solid #d6d6d6;
    	padding: 5px 25px;
    	margin-bottom: 3em;
}


.allpages {
	line-height: 60px;
	float: right;
}

.haveqs {
	float: left;
    	margin-right: 40px;
    	line-height: 60px;
}

@media (max-width: 991px) {
	.haveqs {
		line-height: 25px;
	}

}


.membershelp {
	

}

.membershelp h3 {
	text-align: center !important;
}

.membershelp h5 {
	background: #dfecce;
    	padding: 7px;
}

.membershelp p {
	margin: .5em .5em 1em;
}

.membershelp ul, .membershelp ol {
	margin-bottom: 1em;
}

span.helpback {
	margin-left:-12px;
}



.container {
	position: relative;
}

/* new ukrightmove tab to the left of main nav*/

li.home {
	position: absolute;
	top: 8px;
	left: 10px;
}

.navbar-inverse .navbar-nav > li.home > a {
	display: inline;
	color: #ffffff;
	font-size: 18px;
	text-transform: none;
}

span.desc {
	color:#898989;
}

/* removes home main nav tab description when screen size under 1100px;*/

@media (max-width: 1100px) {
	span.desc {
		display: none;
	}
}


/*justLoginPage*/

.biggap {
	margin-bottom: 5em;
}

.midgap {
	margin-bottom: 1em;
}


#userdash {
	margin-top: 2em;
            margin-bottom: 5.5em;
}

#userdash h3 {
	text-align: center;
}

#userdash .smallertxt {
	font-size: 16px;
}


#miniprofile {
	border: 1px solid #d4d4d4;
    	background-color: #f9f9f9;
    	padding: .5em;
    	border-radius: 5px;
    	padding-top: 1.2em;

}

#membername {
	background: #dfecce;
    	padding: 10px;
    	border-top: 2px solid #767373;
    	box-shadow: 0px 1px 1px rgba(0,0,0,.4);
    	border-bottom-left-radius: 5px;
    	border-bottom-right-radius: 5px;
    
}

#miniprofile h4 {
	font-size: 18px;
    	line-height: 22px;
    	color: #292f21;
    	text-shadow: 1px 1px 7px rgba(165, 183, 141,.3);
    	text-align: center;
}

ul#apic {
	list-style-type: none;
	padding: 0 15px;
}


#apic li#memberdesc {
	padding: .5em .3em 0;
}

#apic li.intouch {
	padding: 7px 0 3px;
    	margin: .5em 0 .2em;
}

#apic li.intouch h5 {
	margin: 0 0 5px 0;
    	font-size: 17px;
    	background: #dfecce;
    	padding: 7px;
    	text-decoration: none;
}


#apic img {
	
    	border: 1px solid #cccccc;
    	border-radius: 5px;
    	box-shadow: 0px 1px 5px #222222;
    	
}



}

ul#usernav {
	list-style-type: none;
	padding: 0;
}

#usernav li {
	display: inline;
}

#userMaindash {
	border: 1px solid #d4d4d4;
    	background-color: #f9f9f9;
    	padding: .5em;
    	border-radius: 5px;
    	margin-bottom: 5em;
}

#userMaindash h3 {
	text-align: left;
}

#comehere {
	padding-top: 1em;
}

.center-image
{
    margin: 0 auto;
    display: block;
   
}
