m@font-face {
	font-family: 'din';
	src: url('fonts/din.eot');
	src: url('fonts/din.eot?#iefix') format('embedded-opentype'), url('fonts/din.woff') format('woff'), url('fonts/din.ttf') format('truetype'), url('fonts/din.svg#din') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	color: #555;
	font: normal 13px/22px Arial;
	background: url(../images/bgmain.png) #eee;
}
h1, h2, h3, h4, h5 {
	font-weight: normal;
	font-family: din;
	margin: 0;
	padding: 0;
	color: #353131;
}
h1 {
	font-size: 60px;
	margin-bottom: 25px;
	color: #fff;
}
h2 {
	font-size: 35px;
	letter-spacing: -1px;
	margin-bottom: 20px;
}
h3 {
	margin: 0 0 15px 0;
	font-size: 25px;
}
h4 {
	margin: 10px 0;
	font-size: 19px;
}
h5 {
	margin: 0 0 5px 0;
	font-size: 17px;
}
h6 {
	margin: 0 0 10px 0;
	font-size: 14px;
}
h4 span {
	margin-right: 5px;
	font-size: 15px;
}
h6 span {
	margin-right: 5px;
	font-size: 12px;
}
a {
	color: #72b70f;
	text-decoration: none;
	outline: none;
}
a:hover {
	color: #333;
}

span.pull-right a:hover {
	color:#f9f9f9;
	
}


.spacer {
	margin-top: 50px;
	margin-bottom: 40px;
	
}

.pagebottom {
     margin-top: 50px;
     margin-bottom: 40px;
     overflow: auto;
}


.center {
	text-align: center;
}
.fullwidth {
	width: 100%;
}

a.more {
	background-color: #222;
    	padding: 5px 5px;
    	color: #fff;
    	text-transform: uppercase;
    	font-size: 11px;
}
a.more:hover {
	background: #64a30a;
	text-decoration: none;
}
table {
	background-color: #fff;
}

/* register page button */

button.btn.btn-success {
   padding:15px 20px;
}



.btn {
	border-radius: 5px;
	font-family: din;
	outline: none;
}
.btn-success {
	background: #88de0d;
    border: 1px solid #72b70f;
    padding: 6px 20px;
    font-size: 16px;
    width: 100%;
}
.btn-primary {
	background: #64a30a;
	border: none;
	width: 100%;
	border-radius: 20px;
}
.btn-info {
	background: #333;
	border: 4px solid #ddd;
	padding: 3px 20px;
	font-size: 20px;
	border-radius: 20px;
}
.thumbnail {
	background-color: #fff;
}
.header {
	padding: 20px 0;
}
.header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 40px;
}
.header ul li {
	display: inline-block;
	padding: 0 0 0 40px;
}
.header ul li a {
	font-size: 22px;
	font-family: din;
	font-weight: normal;
	
}
.header ul li a:hover {
	text-decoration: none;
}
.navbar-inverse {
	background-color: #111;
               border-radius: 0;
}
.navbar-inverse .navbar-nav > li > a {
	font-size: 14px;
               padding-top: 13px;
               padding-bottom: 13px;
               font-family: din;
               text-transform: uppercase;
               line-height: 36px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: #72b70f;
}

.container.searchbanner {
    max-height: 425px;
    width: 66%;
    padding: 30px 1.5em 10px 1.5em;
    box-shadow: 0px 1px 0px .5px rgba(17, 17, 20,.6);
    border-bottom: 1px solid rgb(97, 105, 117);
    border-top: 2px solid rgb(239, 215, 214);
    border-radius: 4px;
    margin-bottom: 2em;
    margin-top: 1.2em;

}

.box-content > p {
     display: none;
}


.banner-search {
	background: url(../images/bginside.jpg) #111;
	color: #fff;
	padding: 20px 0 10px 0;
	font-size: 16px;
}

#headerform input {
          height: 60px;
         font-size: 16px;
         border: 1px solid rgba(142, 223, 25, 0.55);
         border-style: outset;
         box-shadow: 2px 0px 2px 0px rgba(142, 223, 25, 0.3);
}

#headerform button.btn.btn-default.btn-lg {
          padding: 17px 16px;
          font-size: 18px;
          line-height: 1.37;
          margin-left: 0px;
}

#headerform button.btn.btn-success.membersearchbutton {
          margin-left: 0px;
}

#memberbannerhome {
     color: #fff;
    border-top: 1px solid rgba(129, 113, 112, 0.75);
    font-size: 16px;
    background: linear-gradient(to bottom, rgba(211, 234, 163, 0.5) 0%,rgb(250, 250, 250) 30%, rgb(236, 236, 236) 80%, rgba(223, 250, 164, 0.84) 100%);
    border-bottom: 1px solid rgb(110, 116, 95);
    background-image: url(../images/londonestates.png);
    opacity: .95;
    background-position: left top;

}



#memberbanner {
	background: url(../images/london-d.jpg) #111 0% 0;
	color: #fff;
	padding: 30px 0 45px 0;
	font-size: 16px;
	background-position: 0px -280px;
}

#memberbanner h2 {
	color: #353131;;
    	font-style: normal;
    	letter-spacing: 0.1px;
}

/* temporary logo - but the idea is a logo should go in its place*/
.memberlogo {
	position: absolute;
    	right: 0px;
    	width: 250px;
    	overflow: hidden;
    	border-radius: 42%;
    	padding: 1px 0px;
    	box-shadow: -3px -2px 10px rgba(75, 75, 75, 0.35);
    	opacity: .9;
    	top: -2px;
}


.banner-search {
	/*background: url(../images/londonestates.jpg) #111;*/
	color: #fff;
	padding: 20px 0 10px 0;
	font-size: 16px;
}


.banner-search h3 {
	color: #fff;
}


.londonrentinguide {
     padding: 25px 0 20px 0;
     font-size: 16px;
     height: 360px;
     background: url(../images/londonestates.jpg);
     background-position: right center;
     opacity: .85;
     border-bottom: 2px solid rgba(58, 75, 102, 0.35);
     box-shadow: 2px -3px 4px 7px rgba(81, 94, 115, 0.25);
     border-top: 1px solid rgba(7, 16, 18,.25);
}

.londonrentinguide h3 {
     color: #fefefe;
     text-shadow: 1px 2px 3px rgba(22, 22, 24, 0.7);
     font-size: 32px;
     letter-spacing: 1px;
      line-height: 51px;
}

.londonrentinguide .guidetoptip h6 {
    color: #8ff300;
    text-shadow: 1px 2px 3px rgba(22, 22, 23, 0.75);
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 51px;
    vertical-align: middle;
    margin-bottom: 0;
    text-decoration: underline;
    text-align: center;
    margin-right: 2em;
}

.londonguidewrap {
     margin-bottom: 1em;
     overflow: auto;
}

.guidemain {
     overflow: auto;
}

.guidemain .guide p {
     text-align: justify;
    width: 300px;
    padding-bottom: 2em;
    color: #ececec;
    margin: 0;
}

.greaterlondonhome {
          padding: .5em 1em;
         /* margin-bottom: 2em; */
         border-radius: 10px;
         box-shadow: 0px 1px 1px rgba(21, 21, 21, 0.3);
         border: 1px solid #cccccc;
         text-align: center;
         border-bottom-left-radius: 0;
         border-bottom-right-radius: 0;
         border-bottom: none;

}

.greaterlondonhome h1 {
          color: #fff;
          font-size: 44px;
          text-shadow: 0 1px 1px #000;
          line-height: 58px;
          color: #fff;
          text-shadow: -1px 1px 3px #07101b;
          letter-spacing: 1px;
    

}

.greaterlondonhome h3 {
               color: #fff;
               text-shadow: -1px 2px 5px #07101b;
               letter-spacing: 1px;
               padding-bottom: 10px;
}

.greaterlondon {
	background-color: rgba(255,255,255,.7);
	/*background-color: rgba(223, 236, 206, 0.75);*/
    	width: 68%;
    	padding: .75em 1em;
    	margin-bottom: 2em;
   	border-radius: 10px;
    	box-shadow: 0px 1px 1px rgba(21, 21, 21, 0.3);
}

.searchbarheader {
	padding: .7em 0 0 .7em;
              margin-bottom: 1em;
              border-radius: 10px;
              box-shadow: inset 0px 0px 5px 0px rgb(206, 203, 205);
              color: #999999;
              border: 1px solid #cccccc;
              border-top-left-radius: 0;
              border-top-right-radius: 0;
              border-top-style: inset;
              border-top-color: #fff;
              
}


.topbottombar {
     width:75%;

}

.greaterlondon h3 {
	margin: 0;
    	line-height: 28px;
    	color: #262121;
    	text-shadow: 1px 1px 1px #eaeaea;
}

form#memberform {

}
/* search login in the home page - inside of top home search section disabled */
.searchlogin {
          background-color: rgba(255,255,255,.95);
         margin-right: 2em;
         margin-left: 2em;
         padding: 2em;
         padding-top: 1.2em;
         text-align: left;
         display: none;
}

.homeoption {
     padding: 0;
}

#headerform input[type="radio"] {
     height: 46px;
}

.homeoption input.form-control {
      height: 60px;    
}





#memberform input {
	background-color: rgba(255,255,255,.95);
               border-radius: 5px;
               padding: 6px 12px 4px;
               height: 60px;
               font-size: 16px;
}



.memberoption:active, .memberoption:focus {
	border: 2px solid #a7e849;
}

/* bootstrap property  focus green */
.form-control:focus {
    border-color: #a7e849;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgb(114, 183, 15);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 1px rgb(114, 183, 15);
}
/*bootstrap end*/

div.torent {
     color: #fff;
     font-size: 16px;
     text-shadow: 1px 1px 3px #000;
     line-height: 22px;
     font-variant: 1px;
     letter-spacing: 1px;
}

div.forsale {
     color: #fff;
     font-size: 16px;
     text-shadow: 1px 1px 3px #000;
     font-variant: 1px;
     letter-spacing: 1px;
}

.allmemoptions {
	margin: 1em 0 1em;
               overflow: auto;
}

.memberoption {
	background-color: rgba(93, 87, 87, 0.1);
	border-radius: 5px;
    	box-shadow: 1px 2px 7px rgba(72, 55, 55, 0.7);
    	padding: 6px 12px 4px;
    	height: 60px;
    	border: 1px solid rgb(202, 199, 199);
    	outline: none;
}
/* targets home page main search section buttons */
#headerform a.btn.active.btn-success {
     padding: 6px 9px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background: #90e614;
    border: 1px solid #72b70f;
    text-shadow: 0px 1px 1px rgba(0,0,0,.55);

}
/*
.hidden {
     display: inline-block !important;
     visibility: visible !important;
}
*/

#headerform a.btn.active.btn-danger, #headerform a.btn.active.btn-danger:focus, #headerform a.btn.active.btn-danger:active {
     background-color: #a7a7d1;
     border-color: #999999;
     outline: 0;
}


.btn-group-justified {
     outline: 0;
}

.torent div {
     margin-top: .3em;
    
}

.forsale div {
     margin-top: .3em;
     
}

#headerform div a.btn.btn-default {
     padding: 2px 3px;
}

.memberoption select {
	height: 46px;
    	font-size: 16px;
    	color: #272222;
}

.membersearchbutton {
	letter-spacing: 1px;
               font-size: 18px;
               padding: 16px 20px 15px;
               height: 60px;
}

.properties-listing .viewall {
	margin-top: 15px;
}
.properties-listing div.properties {
	padding: 10px;
	background-color: #fff;
	text-align: center;
	margin-bottom: 20px;
}
.owl-wrapper-outer div.properties {
    	background-color: #fff;
    	text-align: center;
    	margin-bottom: 20px;

}

.owl-item .status.sold {
	border: 1px solid rgb(105, 127, 74);
    	font-size: 15px;
    	line-height: 27px;
    	font-style: italic;
}

.owl-item .image-holder {
	border-top: 1px solid rgb(105, 127, 74);
	border-right: 1px solid rgb(105, 127, 74);
	border-left: 1px solid rgb(105, 127, 74);
	border-bottom: 0;
    	font-size: 15px;
    	line-height: 27px;
            font-style: italic;
}

.properties-listing div.properties .image-holder {
	position: relative;
}

.image-holder {
	border: 1px solid rgb(105, 127, 74);
    	font-size: 15px;
    	line-height: 27px;
            font-style: italic;

}

.image-holder img {
	height: 150px;
}

.text-holder h4 {
	font-size: 20px;
    	line-height: 25px;
    	overflow: hidden;
    	height: 50px;
}

/* needs this extra class cause carousel data title is positioned absoulte here*/
.text-holder.abs {
     padding-top:25px;
}

.recent-view {
    box-shadow: 0px 1px 3px rgba(38, 35, 35, 0.3);
    background-color: #3a5796;
    padding: 0.2em .3em;
    border: 2px solid #445367;
    border-radius: 10px;
    padding-left: 4em;
    margin-left: 5%;
}


/* view properties   this is not doing anything atm */

@media (min-width: 1200px) {

	.image-holder img {
	height: 150px;
            }


}

@media (max-width: 1199px) {
	.image-holder img {
		height: 200px;
	}
}


@media (max-width: 991px) {
	.image-holder img {
		height: 150px;
	}
}

@media (max-width: 767px) {
	.image-holder img {
		height: auto;
		width: 100%;
	}
}


.properties-listing div.properties .status {
	position: absolute;
    	bottom: -28px;
    	z-index: 100;
    	display: block;
    	width: 101%;
    	border-top: 0;
    	left: -1px;
}
.properties-listing div.properties p {
	margin-bottom: 10px;
	font-size: 14px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 5px 0;
	font-family: din;
}
.listing-detail {
	margin-bottom: 30px;
}
.listing-detail span {
	color: #fff;
	width: 25px;
	height: 25px;
	background-color: #555;
	display: inline-block;
	border-radius: 25px;
	text-align: center;
	line-height: 26px;
	font-size: 14px;
	cursor: crosshair;
}
.listing-detail span:hover {
	background: #72b70f;
}
.status.sold {
	background: rgba(205, 255, 133, 0.5);
}
.status.new {
	background: rgba(190,7,46,0.8);
}

.recommended {
	border: 1px solid gray;
    	padding: 1em .75em;
    	border-radius: 10px;
    	box-shadow: 0px 1px 2px rgba(0,0,0,.35);
}

.recommended h3 {
	margin-bottom: 7px;
    	font-size: 22px;
}

.recentprop {
	margin: 0 0 5px 0;
    	font-size: 16px;
    	line-height: 19px;
    	padding-left: 5px;
}

.recentprop h5 a {
	font-size: 15px;
}

.recentimg, .recentimg img {
	height: 92px;
}


.recommended .carousel-indicators {
	position: absolute;
    	text-align: left;
    	left: 2px;
    	bottom: -22px;
    	margin: 0;
}

#myCarousel {
	margin: .5em 0;
}

.recommended .carousel-indicators li {
	border: 1px solid #888;
}
.recommended .carousel-indicators .active {
	background-color: #ccc;
}
.recommended p {
	margin: 5px 0 6px 0;
}
.modal-content {
	padding: 20px;
}
.login .form-group input {
	padding: 10px;
	height: 50px;
}
.register input {
	padding: 10px;
	height: 50px;
}
.contact input {
	padding: 10px;
	height: 50px;
}
.register input, .register textarea, .contact input, .contact textarea {
	margin-bottom: 15px;
}
.login button, .register button, .contact button {
	width: 100%;
	border-radius: 5px;
}


.inside-banner {
	background: url(../images/bginside.jpg) #222;
	color: #fff;
	padding: 30px 0 15px;
}
.inside-banner h2 {
	margin: 0;
	color: #fff;
}
.inside-banner span {
	margin-top: 10px;
}
.search-form {
	margin-bottom: 50px;
}
.search-form h4 {
	margin: 17px 0;
}
.hot-properties {
	margin-bottom: 50px;
}
.hot-properties img {
	width: 68px;
	height: 68px;
}
.hot-properties h4 {
	margin-bottom: 20px;
}
.hot-properties .row {
	margin-bottom: 20px;
}
.hot-properties .row p {
	margin-bottom: 5px;
}
.sortby .result {
	margin-top: 10px;
}
.property-info {
	margin: 0 0 30px 0;
}
.property-info span {
	margin-right: 5px;
}
.property-info p {
	margin-bottom: 10px;
}
.property-info p.price {
	font-size: 28px;
	color: #72b70f;
	padding: 0;
	border-radius: 5px;
}
.property-info .profile {
	margin-top: 30px;
}
.property-info .profile p {
	padding-left: 20px;
	color: #999;
}
.enquiry input, .enquiry textarea {
	margin-bottom: 10px;
}
.enquiry button {
	border-radius: 5px;
}
.blog .info {
	color: #999;
	margin-bottom: 10px;
	font-size: 12px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	background-color: #72b70f;
	border-radius: 0;
	color: #fff;
	border: none;
}
.blog .tabbable .tab-content ul li {
	margin: 15px 0;
}
.blog .row {
	margin-bottom: 50px;
}
.agents .row {
	margin-bottom: 40px;
}
.agents .row h4 {
	margin: 0;
}
/*footer*/
.footer {
	background: url(../images/bg.jpg) #222;
	padding: 20px 0;
	color: #999;
}
.footer h4 {
	color: #fff;
	border-bottom: 2px solid #131313;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.footer ul {
	list-style: none;
	padding: 0;
}
.footer a{
	color: #fff;
}
.footer a:hover {
	color: #72b70f;
	text-decoration:underline;
}
.footer p.copyright {
	margin: 30px 0 0 0;
}
 @media (max-width: 600px) {
.header {
	text-align: center;
}
.header ul {
	width: 100%;
	margin-bottom: 20px;
}
.header ul li {
	padding: 0 20px;
}
h1 {
	font-size: 40px;
}
h2 {
	font-size: 25px;
}
.login {
	margin-bottom: 40px;
}
.searchbar button {
	margin-bottom: 40px;
}
.footer .col-sm-3 {
	margin-bottom: 30px;
}
.agents img {
	margin-bottom: 20px;
}
}
#userprofile {
	border-radius: 50%;
}
#hideuser {
	display: none;
	background-color: #eee;
	border-radius: 20%;
	padding: 20px
}
#hideuser ul {
	padding: 0px
}
#hideuser li {
	list-style: none;
	text-transform: uppercase;
}
#hideuser li a {
	color: #000
}
#hideuser li a:hover {
	color: #00F;
	text-decoration: none;
}
#clear {
	clear: both;
	width: 100%
}
.white_content li {
	list-style: none;
	padding-bottom: 5px
}
.white_content a {
	color: black;
	text-decoration: none;
	outline: none;
	font-size: 15px;
}
.black_overlay {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity=80);
}
.white_content {
	display: none;
	position: absolute;
	top: 51px;
	width: 202px;
	height: auto;
	padding: 16px;
	background-color: white;
	z-index: 1002;
	overflow: auto;
	right: 0px;
	border-radius: 10px;
	margin-left: 8%;
}
.white_content ul {
	padding: 0px
}
.white_content li {
	border-bottom: 1px solid;
	margin-bottom: 5px;
}
 @media screen and (max-width: 768px) {
.white_content {
	display: none;
	position: absolute;
	top: -154px;
	width: 202px;
	height: auto;
	padding: 16px;
	background-color: white;
	z-index: 1002;
	overflow: auto;
	/* right: 10; */
	left: 17px;
	border-radius: 10px;
	margin-left: 8%;
}
}
#agent_property .properties {
	padding: 10px;
	background-color: #fff;
	text-align: center;
	margin-bottom: 20px;
}
#agent_property .properties p {
	
    	font-size: 14px;
    	border-top: 1px solid #ddd;
    	border-bottom: 1px solid #ddd;
    	padding: 5px 0;
    	font-family: din;
    	line-height: 24px;
}

.price-holder {
	
	margin-bottom: 20px;
    	height: 34px;
}

.member {
	width: 40% !important;
	border-radius: 10px;
	border: 1px solid #558a09;
	box-shadow: 0px 1px 1px #294429;
	color: #f5f5f5;
	text-shadow: 1px 0px 1px rgba(0,0,0,.3);
	font-size: 14px;

}

/* featured button styles for feature properties inside  members area*/
.featuredbutton {
	width: 60% !important;
	border-radius: 10px;
	border: 1px solid #558a09;
	box-shadow: 0px 1px 1px #294429;
	color: #f5f5f5;
	text-shadow: 1px 0px 1px rgba(0,0,0,.3);
	font-size: 14px;

}






.space  {
          padding-bottom: 5px
}


.pagination_button {
	background: #64a30a;
	border: none;
	width: 100%;
         text-decoration: none;
	border-radius: 20px;
	text-align: center;
	padding: 12px 22px;
	color: #FFF;
	border-radius: 10px;
	border: 1px solid #558a09;
	box-shadow: 0px 1px 1px #294429;
	color: #f5f5f5;
	text-shadow: 1px 0px 1px rgba(0,0,0,.3);
	font-size: 14px;

}
.pagination_button:hover {
	border: none;
	width: 100%;
         text-decoration: none;
	border-radius: 20px;
	text-align: center;
	padding: 12px 22px;
	color: #FFF;
	border-radius: 10px;
	border: 1px solid #558a09;
	box-shadow: 0px 1px 1px #294429;
	color: #f5f5f5;
	text-shadow: 1px 0px 1px rgba(0,0,0,.3);
	font-size: 14px;
}

.pagebox {
	border-top: 1px solid #d6d6d6;
    	background: #dfecce;
    	border-bottom: 1px solid #d6d6d6;
    	padding: 5px 25px;
    	margin-bottom: 3em;
}


.allpages {
	line-height: 60px;
	float: right;
}

.haveqs {
	float: left;
    	margin-right: 40px;
    	line-height: 60px;
}

@media (max-width: 991px) {
	.haveqs {
		line-height: 25px;
	}

}


.membershelp {
	width: 97%;
	margin-left: 1em;

}

.membershelp h3 {
	text-align: center !important;
}

.membershelp h5 {
	background: #dfecce;
    	padding: 7px;
}

.membershelp p {
	margin: .5em .5em 1em;
}

.membershelp ul, .membershelp ol {
	margin-bottom: 1em;
}

span.helpback {
	margin-left:-12px;
}



.container {
	position: relative;
}

/* new ukrightmove tab to the left of main nav*/

li.home {
	position: absolute;
               top: 11px;
               left: 14px;
}

.navbar-inverse .navbar-nav > li.home > a {
	display: inline;
	color: #ffffff;
	font-size: 23px;
	text-transform: none;
}

span.desc {
      	color: #bbbbbb;
               line-height: 41px;
               vertical-align: top;
}

/* removes home main nav tab description when screen size under 1100px;*/

@media (max-width: 1100px) {
	span.desc {
		display: none;
	}
}


/*justLoginPage*/

.biggap {
	margin-bottom: 5em;
}

.midgap {
	margin-bottom: 1em;
}


#userdash {
	margin-top: 2em;
            margin-bottom: 5.5em;
}

#userdash h3 {
	text-align: center;
}

#userdash .smallertxt {
	font-size: 16px;
}


#miniprofile {
	border: 1px solid #d4d4d4;
    	background-color: #f9f9f9;
    	padding: .5em;
    	border-radius: 5px;
    	padding-top: 1.2em;

}

#membername {
	background: #dfecce;
    	padding: 10px;
    	border-top: 2px solid #767373;
    	box-shadow: 0px 1px 1px rgba(0,0,0,.4);
    	border-bottom-left-radius: 5px;
    	border-bottom-right-radius: 5px;
    
}

#miniprofile h4 {
	font-size: 18px;
    	line-height: 22px;
    	color: #292f21;
    	text-shadow: 1px 1px 7px rgba(165, 183, 141,.3);
    	text-align: center;
}

ul#apic {
	list-style-type: none;
	padding: 0 15px;
}


#apic li#memberdesc {
	padding: .5em .3em 0;
}

#apic li.intouch {
	padding: 7px 0 3px;
    	margin: .5em 0 .2em;
}

#apic li.intouch h5 {
	margin: 0 0 5px 0;
    	font-size: 17px;
    	background: #dfecce;
    	padding: 7px;
    	text-decoration: none;
}


#apic img {
	
    	border: 1px solid #cccccc;
    	border-radius: 5px;
    	box-shadow: 0px 1px 5px #222222;
    	
}



}

ul#usernav {
	list-style-type: none;
	padding: 0;
}

#usernav li {
	display: inline;
}

#userMaindash {
	border: 1px solid #d4d4d4;
    	background-color: #f9f9f9;
    	padding: .5em;
    	border-radius: 5px;
    	margin-bottom: 5em;
}

#userMaindash h3 {
	text-align: left;
}

#comehere {
	padding-top: 1em;
}

.center-image
{
    margin: 0 auto;
    display: block;
   
}

/* fancy checkboxes*/

.form-group input[type="checkbox"] {
    display: none;
}

/*
.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}


.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
/*
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}



.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}

/*
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}
*/

#headerform label#forsalecheck {
          height: 55px;
          line-height: 42px;
          vertical-align: middle;
          padding: 4px 17px;
          width: 57px;
}

#headerform label#forsaledata {
          height: 55px;
          line-height: 42px;
          font-size: 15px;
          vertical-align: middle;
          width: 120px;
}

#headerform label#torentcheck {
          height: 55px;
          line-height: 42px;
          vertical-align: middle;
          padding: 4px 17px;
          width: 57px;
}

#headerform label#torentdata {
          height: 55px;
          line-height: 42px;
          font-size: 15px;
          vertical-align: middle;
          width: 120px;
}









